<%= flash[:notice] %>

<h1>Hi</h1> 

<a href="/candidates/new">Add Candidate</a>

<table>
    <tr>
        <td>Name</td>
        <td>Party</td>
        <td>Age</td>
        <td>Politics</td>
        <td>Action</td>
    </tr>


    <% @candidates.each do |candidate| %>
    <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.party %></td>
        <td><%= candidate.age %></td>
        <td><%= candidate.politics %></td>
        <td>Action</td>
    </tr>
     <% end %>
</table>
